* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

i {
    font-size: 25px;
    margin: 0 10px;
    color: #bababa;
    cursor: pointer;
}

h4 {
    font-size: 15px;
}

p {
    font-size: 13px;
}

.active {
    display:block;
}

.msg {
    position:relative;
}

.msg-overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    z-index: 1;
    transition: 0.2s;
}

.msg-overlay i {
    float: right;
    color: black;
    font-size: 20px;
}

.opzioni-chat {
    position: relative;
}

.menu-opzioni {
    line-height: 30px;
    width: 100%;
    display: none;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 180%);
    z-index: 3;
    cursor: pointer;
    background-color: #f9f9f9;
}

.menu-opzioni p:hover {
    background-color: #f4f4f4;
}

/*  ----------------------------------------------------------------------- */
/*     FORMATTAZIONE GENERALE */
.container-fullwidth {
    background-color: #dfe0d8;
    position:relative;
    height: 100vh;
}

.nav-fullwidth {
    height: 100px;
    background-color: #00a093;
}

.container {
    /* da cancellare */
    width: 1200px;
    /* max-width: 1200px; */
    height: 95vh;
    display:flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.img-profilo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: contain;
    margin: 0 10px;
}

.template {
    display: none;
}

.msg-sent {
    padding: 5px;
    min-width: 15%;
    max-width: 40%;
    background-color: #dafac2;
    margin: 15px 30px 15px 0;
    align-self: flex-end;
    border-radius: 5px;
}

.msg-receive {
    padding: 5px;
    min-width: 15%;
    max-width: 40%;
    background-color: white;
    margin: 15px 0px 15px 30px;
    align-self: flex-start;
    border-radius: 5px;
}

.msg-testo {
    font-size: 16px;
    margin-bottom: 3px;
}

.msg-orario {
    text-align: right;
    font-size: 12px;
}
/* ------------------------------------------------------------------------- */
/* FINE FORMATTAZIONE GENERALE  */
/* ------------------------------------------------------------------------- */
/* FORMATTAZIONE BLOCCO LISTA UTENTI */
.blocco-lista-utenti {
    width: 40%;
    height: 100%;
}

.mio-profilo {
    height: 70px;
    width: 100%;
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid #dbdbdb;
}

.notifica {
    height: 70px;
    width: 100%;
    display:flex;
    align-items: center;
    background-color: #99dffc;
}

.notifica-testo {
    line-height: 23px;
}

.notifica-icona {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 10px;
    background-color: white;
    color: #99dffc;
}

.notifica-icona i {
    color: #99dffc;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-80%, -50%);
}

.notifica-testo a {
    color: #5a8193;
}

.lista-utenti {
    position:relative;
    overflow-y: auto;
    height: calc(100% - 140px);
    width: 100%;
    background-color: #f4f4f4;
}

.cerca-utenti {
    background-color: #fbfbfb;
    width: 100%;
    height: 40px;
    position: sticky;
    top: 0;
    z-index: 2;
    display:flex;
    justify-content: center;
    align-items: center;
}

.cerca-box {
    width: 90%;
    height: 80%;
    background-color: white;
    color: #c4c7c8;
    border-radius: 5px;
    display:flex;
    align-items: center;
}

.cerca-box i {
    font-size: 20px;
    margin-right: 15px;
}

.cerca-box input {
    border: none;
    width: 90%;
    color: #c4c7c8;
}

.utente {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dbdbdb;
    cursor: pointer;
    overflow-x: hidden;
}

.utenteclick {
    background-color: #f5f5f5;
}

.utente:hover{
    background-color: #f9f9f9;
}

.mio-profilo-dx {
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 15px;
}

.utente-img-testo {
    display: flex;
    justify-content: space-around;
    line-height: 23px;
}

.utente-img-testo p {
    color: #767e81;
    font-weight: bold;
}

.utente-orario {
    padding-bottom: 33px;
    padding-right: 10px;
    color: #c5c7c8;
}


/* ------------------------------------------------------------------------- */
/* FINE FORMATTAZIONE BLOCCO LISTA UTENTI */

/* ------------------------------------------------------------------------- */
/* FORMATTAZIONE BLOCCO CHAT*/
.blocco-chat {
    width: 60%;
    height: 100%;
    border-left: 1px solid #dbdbdb;
}

.destinatario-chat {
    height: 70px;
    width: 100%;
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: none;
}

.destinatario-chat-nome {
    margin-left: 10px;
    line-height: 18px;
}

.destinatario-chat-nome p {
    color: #767e81;
}

.destinatario-chat-sx {
    display:flex;
    align-items: center;
}

.destinatario-chat-dx {
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 15px;
}

.chat {
    overflow: auto;
    display:none;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 140px);
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
}

.chat-active {
    display:flex;
}

.default {
    height: calc(100% - 70px);
}

.testo {
    width: 100%;
    height: 70px;
    background-color: #f5f0ed;
    display: none;
    justify-content: space-around;
    align-items: center;
}

.testo-active {
    display: flex;
}

.testo-icone , .testo-audio-invia {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testo-form {
    border-radius: 5px;
    background-color: white;
    width: 70%;
    line-height: 80%;
}

.testo-form input {
    width: 100%;
    padding: 18px 20px;
    border: none;
    border-radius: 5px;
}

#invia {
    display:none;
}

/* ------------------------------------------------------------------------- */
/* FINE FORMATTAZIONE BLOCCO CHAT */
